@use "variants" as var;

@mixin def-text($def-size, $tablet-size, $mob-size, $mb-desk, $mb-mob) {
  font-family: var.$font-family-light;
  font-weight: 300;
  font-size: $def-size;
  letter-spacing: 0em;
  color: var.$light-black;
  opacity: 0.7;
  margin-bottom: $mb-desk;
  @media (max-width: 1024px) {
    font-size: $tablet-size;
  }

  @media (max-width: 650px) {
    font-size: $mob-size;
    margin-bottom: $mb-mob;
  }
}

@mixin sec-text($def-size, $tablet-size, $mob-size) {
  font-family: var.$font-family-reg;
  font-weight: 400;
  font-size: $def-size;
  letter-spacing: 0em;
  color: var.$light-black;
  @media (max-width: 1024px) {
    font-size: $tablet-size;
  }

  @media (max-width: 650px) {
    font-size: $mob-size;
  }
}

@mixin title-txt($def-size, $tablet-size, $mob-size) {
  display: flex;
  align-items: center;
  gap: 17px;
  font-family: var.$font-family-med;
  font-weight: 500;
  font-size: $def-size;
  line-height: 104%;
  letter-spacing: -0.01em;
  color: var.$light-black;

  @media (max-width: 1024px) {
    font-size: $tablet-size;
  }

  @media (max-width: 650px) {
    font-size: $mob-size;
  }
}

@mixin def-mail($def-size, $tablet-size, $mob-size) {
  font-family: var.$font-family-med;
  font-weight: 500;
  font-size: $def-size;
  letter-spacing: -0.01em;
  color: var.$blue;

  &:hover,
  &:focus,
  &:active {
    color: var.$blue-link;
  }

  @media (max-width: 1024px) {
    font-size: $tablet-size;
  }

  @media (max-width: 650px) {
    font-size: $mob-size;
  }
}

.contacts-info {
  margin-top: 80px;
  padding: 0 70px;
  .contacts-info__wrap {
    display: flex;
    gap: 57px;
    flex-wrap: wrap;
    .contacts-info__block-left {
      display: flex;
      flex-direction: column;
      gap: 35px;
      border-right: 1px solid rgba(31, 31, 31, 0.2);
      padding-right: 28px;
      .contacts-info__block-top {
        display: flex;
        flex-direction: column;
        gap: 75px;
        border-bottom: 1px solid rgba(31, 31, 31, 0.2);
        padding-bottom: 25px;
        width: 403px;
        .contacts-info__time {
          @include title-txt(2.6rem, 2.2rem, 1.8rem);

          svg {
            width: 27px;
            height: 27px;
          }
        }
        .contacts-info__phones {
          display: flex;
          flex-direction: column;
          gap: 35px;
          .contacts-info__phone {
            p {
              @include def-text(1.4rem, 1.4rem, 1.2rem, 6px, 8px);
            }
            a {
              @include def-mail(2.6rem, 2.6rem, 2rem);
            }
          }
        }
      }
      .contacts-info__block-bottom {
        display: flex;
        flex-direction: column;
        gap: 48px;
        .contacts-info__mail {
          p {
            @include def-text(1.4rem, 1.4rem, 1.2rem, 6px, 8px);
          }
          a {
            @include def-mail(2.6rem, 2.6rem, 2rem);
          }
        }
        .contacts-info__messangers {
          display: flex;
          flex-wrap: wrap;
          gap: 8px;
          align-items: center;
          justify-content: flex-start;

          a {
            text-decoration: none;
            background-repeat: no-repeat;
            background-size: contain;
            width: 58px;
            height: 58px;
            transition: var.$transition-default;

            &:nth-child(1) {
              background-image: url("../images/icon-youtube-rev.svg");
            }

            &:nth-child(2) {
              background-image: url("../images/icon-telegram-rev.svg");
            }

            &:nth-child(3) {
              background-image: url("../images/icon-whatsapp-rev.svg");
            }

            &:hover {
              transform: scale(1.1);
              transition: var.$transition-default;
            }
          }
        }
      }
    }

    .contacts-info__block-right {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 65px;
      padding-bottom: 29px;
      .contacts-info__details-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 35px;
        .contacts-info__details-txt {
          @include title-txt(2.6rem, 2.2rem, 1.8rem);

          svg {
            width: 21px;
            height: 27px;
          }
        }
      }

      .contacts-info__card {
        display: flex;
        flex-direction: column;
        gap: 35px;
        width: 100%;
        max-width: 800px;
        .contacts-info__card-first-info {
          display: flex;
          flex-direction: column;
          gap: 35px;
          div {
            p {
              &:nth-child(1) {
                @include def-text(1.4rem, 1.4rem, 1.2rem, 6px, 8px);
              }
              &:nth-child(2) {
                @include sec-text(2rem, 1.6rem, 1.6rem);
              }
            }
          }
        }
        .contacts-info__card-second-info {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          gap: 35px;

          .contacts-info__card-inn {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 35px 10px;

            div {
              p {
                &:nth-child(1) {
                  @include def-text(1.4rem, 1.4rem, 1.2rem, 6px, 8px);
                }
                &:nth-child(2) {
                  @include sec-text(2rem, 1.6rem, 1.6rem);
                }
              }
            }
          }
          .contacts-info__details-func {
            display: none;
          }
        }
      }
    }
  }
}
.contacts-info__details-func {
  a {
    font-family: var.$font-family-med;
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 0em;
    color: var.$blue;
    display: flex;
    gap: 11px;
    align-items: center;

    &::before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 11px;
      background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.79 6.63V1.08a.58.58 0 0 0-1.16 0v5.55L2.73 4.72a.58.58 0 0 0-.82.82L5.21 8.85l3.3-3.3a.58.58 0 1 0-.82-.82L5.79 6.63z' fill='%2313A9E1'/%3E%3Cpath d='M.58 8.03c.32 0 .58.26.58.58v.93c0 .45.36.81.81.81h6.48c.45 0 .81-.36.81-.81v-.93a.58.58 0 0 1 1.16 0v.93c0 1.09-.88 1.97-1.97 1.97H1.97C.88 11.5 0 10.62 0 9.53v-.93c0-.32.26-.58.58-.58z' fill='%2313A9E1'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &:hover,
    &:focus,
    &:active {
      color: var.$blue-link;
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.79 6.63V1.08a.58.58 0 0 0-1.16 0v5.55L2.73 4.72a.58.58 0 0 0-.82.82L5.21 8.85l3.3-3.3a.58.58 0 1 0-.82-.82L5.79 6.63z' fill='%230775b5'/%3E%3Cpath d='M.58 8.03c.32 0 .58.26.58.58v.93c0 .45.36.81.81.81h6.48c.45 0 .81-.36.81-.81v-.93a.58.58 0 0 1 1.16 0v.93c0 1.09-.88 1.97-1.97 1.97H1.97C.88 11.5 0 10.62 0 9.53v-.93c0-.32.26-.58.58-.58z' fill='%230775b5'/%3E%3C/svg%3E");
        transition: var.$transition-default;
      }
    }
  }
}
.contacts-info__card-bank {
  display: flex;
  flex-direction: column;
  gap: 35px;
  div {
    p {
      &:nth-child(1) {
        @include def-text(1.4rem, 1.4rem, 1.2rem, 6px, 8px);
      }
      &:nth-child(2) {
        @include sec-text(2rem, 1.6rem, 1.6rem);
      }
    }
  }
}

@media (max-width: 1024px) {
  .contacts-info {
    padding: 0px 30px;
    .contacts-info__wrap {
      .contacts-info__block-left {
        padding-right: 19px;
        .contacts-info__block-top {
          width: 100%;
          max-width: 355px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .contacts-info {
    margin-top: 90px;
    .contacts-info__wrap {
      gap: 30px;
      flex-wrap: wrap;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(31, 31, 31, 0.2);
      .contacts-info__block-left {
        gap: 31px;
        .contacts-info__block-top {
          gap: 45px;
          padding-bottom: 31px;
        }
      }
      .contacts-info__block-right {
        padding-bottom: 14px;
      }
    }
  }

  .contacts-info__details-func {
    margin-top: 133px;
    margin-bottom: 75px;
  }
  .contacts-info__card-bank {
    flex: 1;
    justify-content: flex-end;
    padding-bottom: 14px;
  }
}

@media (max-width: 700px) {
  .contacts-info {
    .contacts-info__wrap {
      .contacts-info__block-right {
        .contacts-info__card {
          .contacts-info__card-second-info {
            .contacts-info__card-inn {
              grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .contacts-info {
    margin-top: 50px;
    padding: 0px 15px;
    .contacts-info__wrap {
      flex-direction: column;
      gap: 58px;
      padding-bottom: 0px;
      border-bottom: none;

      .contacts-info__block-left {
        border-right: none;
        gap: 25px;
        .contacts-info__block-top {
          max-width: 100%;
          gap: 30px;
          padding-bottom: 25px;

          .contacts-info__phones {
            gap: 20px;
          }
        }
        .contacts-info__block-bottom {
          gap: 30px;

          .contacts-info__messangers {
            a {
              width: 52px;
              height: 52px;
            }
          }
        }

        .contacts-info__card-bank {
          display: none;
        }
      }

      .contacts-info__block-right {
        gap: 34px;

        .contacts-info__card {
          gap: 34px;
          .contacts-info__card-first-info {
            gap: 25px;
            padding-bottom: 25px;
            border-bottom: 1px solid rgba(31, 31, 31, 0.2);
            order: 1;
          }
          .contacts-info__card-second-info {
            flex-direction: column;
            gap: 25px;
            .contacts-info__card-bank {
              display: flex !important;
              gap: 25px;
            }
            .contacts-info__card-inn {
              grid-template-columns: repeat(2, 1fr);
              gap: 25px 10px;
            }
            order: 2;
          }

          .contacts-info__details-func {
            order: 3;
            margin-bottom: 0px;
            margin-top: 12px;
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .contacts-info {
    .contacts-info__wrap {
      .contacts-info__block-right {
        .contacts-info__card {
          .contacts-info__card-second-info {
            .contacts-info__card-inn {
              grid-template-columns: repeat(1, 1fr);
            }
          }
        }
      }
    }
  }
}
