.partners-block {
  height: 751px;
  overflow: hidden;

  .partners-block__wrap {
    height: 100%;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    background-image: url("../images/partners-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // Retina поддержка
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      & {
        background-image: url("../images/partners-1-2x.png");
      }
    }

    .partners-block__text-block {
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      gap: 33px;
      margin-left: 50px;
      margin-bottom: 50px;
      align-self: flex-end;
      flex: 1 1 50%;
      min-width: 300px;

      .component__tltle-link {
        justify-content: flex-start;
      }

      .partner-block__desc {
        font-family: $font-family-med;
        font-weight: 500;
        font-size: 2.6rem;
        line-height: 115%;
        letter-spacing: -0.01em;
        color: $white;
        max-width: 578px;
        width: 100%;
      }
    }

    .partners-block__logos {
      flex: 1 1 50%;
      margin-right: 50px;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      align-items: end;

      .partners-block__logos-wrapper {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        justify-self: flex-end;
        gap: 11.48px;
        will-change: transform;

        animation: scrollDown 40s linear infinite;
        -webkit-animation: scrollDown 50s linear infinite;

        .partners-block__logos-block {
          display: grid;
          grid-template-columns: repeat(4, 124px);
          gap: 11.48px 8.86px;
          will-change: transform;
          .partners-block__logo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 124px;
            height: 124px;
            backdrop-filter: blur(44px);
            background: rgba(217, 217, 217, 0.5);
            border-radius: 23px;

            img {
              width: auto;
              height: auto;
            }
          }
          .partners-block__logo-back-not {
            width: 124px;
            height: 124px;
          }
        }
      }
    }
  }
}

// Ключевые кадры с префиксами для лучшей поддержки
@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@keyframes scrollDown {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
