.service-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  padding: 0px 70px;
  overflow: hidden;

  .service-desc__title-block {
    .component__title-block {
      .component__tltle-link {
        margin-bottom: 0px;

        .component__tltle {
          width: 111px;
        }
      }
    }
  }

  .service-desc__info-block {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;

    .service-desc__text-block {
      flex: 1;
      max-width: 630px;
      font-family: $font-family-reg;
      font-weight: 400;
      font-size: 2rem;
      letter-spacing: 0em;
      color: $black;

      h2 {
        font-family: $font-family-med;
        font-weight: 500;
        font-size: 4rem;
        line-height: 112%;
        letter-spacing: -0.01em;
        color: $black;
        margin-bottom: 36px;
      }

      p {
        font-family: $font-family-reg;
        font-weight: 400;
        font-size: 2rem;
        letter-spacing: 0em;
        color: $black;
      }
      a {
        color: $sea-blue;

        &:hover,
        &:focus,
        &:active {
          color: $light-black;
          opacity: 0.7;
        }
      }
    }

    .service-desc__photo-block {
      width: 251px;

      img {
        width: 251px;
        height: 251px;
        border-radius: 30px;
        object-fit: cover;
      }
    }
  }
}
