.service-leave-req {
  margin-top: 120px;
  overflow: hidden;

  .service-leave-req__wrap {
    position: relative;
    background-image: url("../images/service-leave-req-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    width: 100%;
    min-height: 438px;
    gap: 20px;

    .service-leave-req__font {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.2) 46%
      );
      z-index: 1;
    }

    .service-leave-req__title-block {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      max-width: 500px;

      .component__title-block {
        .component__tltle-link {
          margin-bottom: 15px;

          a {
            backdrop-filter: blur(4px);
            background: rgba(255, 255, 255, 0.1);

            &:hover,
            &:focus,
            &:active {
              background: rgba(255, 255, 255, 0.3);
            }
          }
        }
      }

      .service-leave-req__title-txt {
        h3 {
          font-family: $font-family-med;
          font-weight: 500;
          font-size: 4rem;
          line-height: 112%;
          letter-spacing: -0.01em;
          color: $white;
          margin-bottom: 15px;
        }

        p {
          font-family: $font-family-med;
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 125%;
          letter-spacing: 0em;
          color: $white;
        }
      }
    }

    .service-leave-req__form {
      width: 100%;
      max-width: 533px;

      .component-feedback {
        padding: 41px 40px 41px 45px;
        height: 100%;
        width: 100%;

        .component-feedback__block {
          div {
            form {
              display: flex;
              flex-direction: column;
              align-items: start;
              .component-feedback__form-inputs {
                margin-bottom: 15px;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 15px;

                input[type="text"],
                input[type="tel"],
                input[type="number"] {
                  font-family: $font-family-light;
                  font-weight: 400;
                  font-size: 1.4rem;
                  color: rgba(31, 31, 31, 0.8);
                  border: none;
                  outline: none;
                  width: 100%;
                  height: 100%;
                  display: block;

                  &::placeholder {
                    color: rgba(31, 31, 31, 0.5);
                  }

                  &:focus::placeholder {
                    color: rgba(31, 31, 31, 0.8);
                  }
                }

                .component-feedback__form-input-text {
                }

                .component-feedback__form-input-text,
                .component-feedback__form-input-tel {
                  display: flex;
                  align-items: center;
                  background: $white;
                  border-radius: 15px;
                  height: 54px;
                  overflow: hidden;
                  gap: 16px;
                  padding-left: 20px;
                }

                .component-feedback__form-input-tel {
                  label {
                    display: flex;
                    align-items: center;
                  }
                }
              }

              .component-feedback__form-policy {
                align-self: flex-start;
                margin-bottom: 29px;
                font-family: $font-family-light;
                font-weight: 400;
                font-size: 1.2rem;
                letter-spacing: -0.01em;
                color: rgba(255, 255, 255, 0.7);

                .component-feedback__form-policy-check {
                  position: relative;
                  display: none;
                }

                .component-feedback__form-policy-label {
                  display: flex;
                  align-items: center;
                  gap: 3px;
                  position: relative;
                  cursor: pointer;

                  a {
                    text-decoration: underline;
                    text-decoration-skip-ink: none;
                    color: rgba(255, 255, 255, 0.7);
                  }

                  &:before {
                    content: "";
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 17px;
                    height: 17px;
                    min-width: 17px;
                    min-height: 17px;
                    border: 0.5px solid rgba(255, 255, 255, 0.2);
                    border-radius: 4px;
                    background: rgba(217, 217, 217, 0.2);
                    margin-right: 10px;
                  }
                }

                .component-feedback__form-policy-check:checked
                  + .component-feedback__form-policy-label:before {
                }

                .component-feedback__form-policy-check:checked
                  + .component-feedback__form-policy-label:after {
                  content: "";
                  position: absolute;
                  left: 2px;
                  width: 14px;
                  height: 14px;
                  background-image: url("../images/feedback-done.svg");
                  background-repeat: no-repeat;
                  background-size: contain;
                }

                .component-feedback__form-policy-label {
                  p {
                    max-width: 300px;
                  }
                }
              }

              .leave-request-btn {
                button {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  font-size: 1.4rem;
                  border-radius: 50px;
                  padding: 5px 8px 5px 15px;
                  gap: 12px;
                  width: 178px;
                  height: 48px;
                  // cursor: pointer;
                  border: none;
                  outline: none;
                  color: $light-black;
                  background: $white;
                  transition: $transition-default;

                  input {
                    color: $light-black;
                    flex: 1;
                    height: 100%;
                    cursor: pointer;
                    background: none;
                    border: none;
                    transition: $transition-default;
                  }
                  &::after {
                    content: "";
                    display: block;
                    width: 36px;
                    height: 36px;
                    background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.808594' y='0.807617' width='36.3848' height='36.3848' rx='18.1924' fill='%230775B5'/%3E%3Cpath d='M23.4028 13.8002L16.4398 13.4368C16.0591 13.4266 15.5946 13.7566 15.5943 14.1895C15.5941 14.6225 16.006 15.0317 16.4388 15.0284L21.5435 15.298L14.0215 22.82C13.7178 23.1237 13.7305 23.6289 14.0499 23.9483C14.3694 24.2678 14.8745 24.2805 15.1783 23.9768L22.7002 16.4548L22.9698 21.5595C22.9665 21.9923 23.3781 22.4328 23.8087 22.4039C24.2066 22.3773 24.6088 21.9912 24.5614 21.5585L24.1981 14.5955C24.1904 14.3074 23.9107 13.8088 23.4028 13.8002Z' fill='white'/%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    transition: $transition-default;
                  }

                  &:hover,
                  &:focus,
                  &:active {
                    background: $blue-link;
                    color: $white;
                    transition: $transition-default;

                    &::after {
                      transform: rotate(45deg);
                      background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.808594' y='0.807617' width='36.3848' height='36.3848' rx='18.1924' fill='%23ffffff'/%3E%3Cpath d='M23.4028 13.8002L16.4398 13.4368C16.0591 13.4266 15.5946 13.7566 15.5943 14.1895C15.5941 14.6225 16.006 15.0317 16.4388 15.0284L21.5435 15.298L14.0215 22.82C13.7178 23.1237 13.7305 23.6289 14.0499 23.9483C14.3694 24.2678 14.8745 24.2805 15.1783 23.9768L22.7002 16.4548L22.9698 21.5595C22.9665 21.9923 23.3781 22.4328 23.8087 22.4039C24.2066 22.3773 24.6088 21.9912 24.5614 21.5585L24.1981 14.5955C24.1904 14.3074 23.9107 13.8088 23.4028 13.8002Z' fill='%230775b5'/%3E%3C/svg%3E");
                    }

                    input {
                      color: $white;
                      transition: $transition-default;
                    }
                  }
                }

                a {
                  font-size: 1.4rem;
                  gap: 12px;
                  width: 178px;

                  span {
                    text-align: end;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .service-leave-req {
    .service-leave-req__wrap {
      background-image: url("../images/service-leave-req-1-2x.png");
    }
  }
}
