.vac-title {
  padding: 0px 70px;
  margin-top: 120px;

  h2 {
    font-family: $font-family-med;
    font-weight: 500;
    font-size: 4rem;
    line-height: 112%;
    letter-spacing: -0.01em;
    color: $black;
    width: 100%;
    max-width: 941px;
  }
}

.vac-block {
  padding: 0px 70px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 60px;

  .vac-block__nav {
    ul {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 5px;

      li {
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 141px;
          height: 48px;
          font-family: $font-family-med;
          font-weight: 500;
          font-size: 1.3rem;
          letter-spacing: 0em;
          color: $light-black;
          background: $white;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 50px;
          cursor: pointer;
          transition: $transition-default;

          // &:hover,
          // &:focus,
          // &:active {
          //     outline: none;
          //     color: $white;
          //     background: $blue-link;
          //     border-color: $blue-link;
          //     transition: $transition-default;
          // }
        }
      }
    }
  }

  .vac-block__wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    .vac-block__card {
      width: 313px;
      height: 233px;
      border-radius: 15px;
      overflow: hidden;

      .vac-block__card-link {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 24px 19px 24px 27px;
        background: $blue-link;
        color: $white;
        font-family: $font-family-med;
        font-weight: 500;
        width: 100%;
        height: 100%;
        transition: $transition-default;

        .vac-block__card-title {
          h3 {
            font-size: 2rem;
            line-height: 100%;
            margin-bottom: 16px;
          }

          p {
            font-size: 1.6rem;
            line-height: 106%;
          }
        }

        .vac-block__card-desc {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;

          p {
            font-size: 1.3rem;
            line-height: 154%;
          }

          svg {
            width: 50px;
            height: 50px;
            min-width: 50px;
            min-height: 50px;
            transition: $transition-default;
          }
        }

        &:hover,
        &:focus,
        &:active {
          background: $sea-blue;
          transition: $transition-default;

          .vac-block__card-desc {
            svg {
              transform: rotate(45deg);
              transition: $transition-default;
            }
          }
        }
      }
    }
  }
}

.vac-maket-title {
  display: flex;
  flex-direction: column;
  font-family: $font-family-med;
  font-weight: 500;
  gap: 20px;
  margin-top: 120px;
  padding: 0px 70px;

  h2 {
    font-size: 4rem;
    line-height: 112%;
    letter-spacing: -0.01em;
    color: $blue-link;
    width: 100%;
    max-width: 880px;

    &:before {
      content: ">";
      margin-right: 5px;
    }
  }

  p {
    font-size: 2rem;
    line-height: 130%;
    letter-spacing: 0em;
    color: $light-black;
    width: 100%;
    max-width: 880px;
  }

  .vac-maket-title__info-btns {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 100%;
    max-width: 880px;

    div {
      font-size: 1.6rem;
      letter-spacing: 0em;
      color: $white;
      min-width: 103px;
      height: 40px;
      padding: 10px 21px;
      background-color: $blue-link;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.vac-maket-desc {
  margin-top: 72px;
  padding: 0px 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 80px;

  .vac-maket-desc__col {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    // gap: 20px;

    h4 {
      font-family: $font-family-med;
      font-weight: 500;
      font-size: 2rem;
      line-height: 130%;
      letter-spacing: 0em;
      color: $light-black;
    }

    img {
      border-radius: 15px;
    }

    p {
      font-family: $font-family-light;
      font-weight: 300;
      font-size: 1.6rem;
      line-height: 150%;
      letter-spacing: 0em;
      color: $light-black;
      opacity: 0.8;
      margin-bottom: 5px;
    }

    strong {
      display: block;
      font-family: $font-family-med;
      font-weight: 500;
      font-size: 2rem;
      line-height: 130%;
      letter-spacing: 0em;
      color: $light-black;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    ul {
      margin-left: 15px;

      li {
        font-family: $font-family-light;
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 150%;
        letter-spacing: 0em;
        color: $light-black;
        opacity: 0.5;
        list-style-type: disc;
      }
    }

    ol {
      margin-left: 15px;

      li {
        font-family: $font-family-light;
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 150%;
        letter-spacing: 0em;
        color: $light-black;
        opacity: 0.5;
        list-style-type: auto;
      }
    }
  }
}

.vac-active {
  outline: none;
  color: $white !important;
  background: $blue-link !important;
  border-color: $blue-link !important;
  transition: $transition-default;
}

.yacht-sales-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  .yacht-sales-filter__wrap {
    display: flex;
    width: 100%;
    gap: 30px;
    flex-direction: column;
    .vacancy-filter {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 30px;
      border: none;
      .yacht-sales-filter__categories {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 30px;
        .yacht-sales-filter__category {
          width: 100%;
          max-width: 400px;
          display: flex;
          flex-direction: column;

          h5 {
            font-family: $font-family-med;
            font-size: 1.8rem;
            margin-bottom: 5px;
          }

          .filter-input {
            height: 48px;
            font-family: $font-family-light;
            font-size: 1.8rem;

            .select {
              height: 48px;
              border-radius: 10px;
              background: $light-blue;
              transition: $transition-default;

              &:hover {
                background: $sea-blue;
                color: $white;
                transition: $transition-default;

                .new-select {
                  &::after {
                    transform: rotate(180deg);
                    transition: $transition-default;
                  }
                }
              }
            }

            .new-select__list {
              .new-select__item {
                span {
                  background: $light-blue;
                  border-radius: 10px;
                  transition: $transition-default;
                }
                &:hover,
                &:focus,
                &:active {
                  span {
                    background: $sea-blue;
                    color: $white;
                    transition: $transition-default;
                  }
                }
              }
            }
          }
        }
      }

      .btn-filter {
        border-radius: 10px;
        cursor: pointer;
        background: $light-blue;
        transition: $transition-default;

        &:hover,
        &:active,
        &:focus {
          background: $sea-blue;
          color: $white;
          transition: $transition-default;
        }
      }
    }
  }
}

.yacht-sales-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  .yacht-item {
    width: 100%;
    max-width: 500px;
    border-radius: 15px;
    min-height: auto;
    overflow: hidden;
    .yacht-link {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      height: 100%;
      background: $light-blue;
      padding: 15px;
      .yacht-link__img {
        overflow: hidden;
        border-radius: 15px;
        height: auto;
        .card-img-top {
          transition: $transition-default;
          object-fit: contain;
          border-radius: 15px;
        }
      }

      .card-body {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-family: $font-family-light;
        font-size: 1.4rem;
        color: $light-black;
        .card-title {
          font-family: $font-family-med;
          font-size: 1.8rem;
        }
        .card-charact {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 10px;
          .card-charact__item {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
            gap: 10px;
            border-bottom: 1px solid #1f1f1f25;
            div {
              &:nth-child(1) {
              }
              &:nth-child(2) {
                opacity: 0.5;
              }
            }
          }
        }
      }

      &:hover,
      &:active,
      &:focus {
        .yacht-link__img {
          .card-img-top {
            transform: scale(1.1);
            transition: $transition-default;
          }
        }
      }
    }
  }
}
