@font-face {
  font-family: "TT Hoves Pro Trial Regular";
  font-style: normal;
  font-weight: normal;
  src: local("TT Hoves Pro Trial Regular"),
    url("../fonts/tt_hoves_pro/TT-Hoves-Pro-Trial-Regular.woff") format("woff");
}
@font-face {
  font-family: "TT Hoves Pro Trial Italic";
  font-style: normal;
  font-weight: normal;
  src: local("TT Hoves Pro Trial Italic"),
    url("../fonts/tt_hoves_pro/TT-Hoves-Pro-Trial-Italic.woff") format("woff");
}
@font-face {
  font-family: "TT Hoves Pro Trial Medium";
  font-style: normal;
  font-weight: normal;
  src: local("TT Hoves Pro Trial Medium"),
    url("../fonts/tt_hoves_pro/TT-Hoves-Pro-Trial-Medium.woff") format("woff");
}
@font-face {
  font-family: "TT Hoves Pro Trial Bold";
  font-style: normal;
  font-weight: normal;
  src: local("TT Hoves Pro Trial Bold"),
    url("../fonts/tt_hoves_pro/TT-Hoves-Pro-Trial-Bold.woff") format("woff");
}
@font-face {
  font-family: "TT Hoves Pro Trial DemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("TT Hoves Pro Trial DemiBold"),
    url("../fonts/tt_hoves_pro/TT-Hoves-Pro-Trial-DemiBold.woff") format("woff");
}
:root {
  font-size: 10px;
}
//   fonts
$font-family-reg: "TT Hoves Pro Trial Regular", sans-serif;
$font-family-ital: "TT Hoves Pro Trial Italic", sans-serif;
$font-family-med: "TT Hoves Pro Trial Medium", sans-serif;
$font-family-bold: "TT Hoves Pro Trial Bold", sans-serif;
$font-family-demibold: "TT Hoves Pro Trial DemiBold", sans-serif;
// colors
$white: #ffffff;
$black: #000000;
$blue: #13a9e1;
$sea-blue: #1c75a8;
$blue-link: #0775b5;
$light-blue: #ebf4f9;
$light-blue-2: #ddeef8;
$light-black: #1f1f1f;

$opacity-hover: 0.8;
$transition-default: all 0.3s ease;
