.work-block {
  overflow: hidden;
  .work-block__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0px 70px;
    margin-bottom: 94px;
    .work-block__title-block {
    }
    .work-block__header-block {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      .component__title-text {
        margin-bottom: 0;
        text-align: left;
      }
      .work-block__work-pagination {
        position: relative;
        display: flex;
        gap: 9px;

        .work-block__swiper-button-prev,
        .work-block__swiper-button-next {
          cursor: pointer;
          width: 36px;
          height: 36px;

          svg {
            rect {
              fill: $blue-link;
              transition: $transition-default;
            }
            path {
              fill: $white;
            }
          }

          &:hover {
            svg {
              rect {
                fill: rgba(7, 117, 181, 0.9);
                transition: $transition-default;
              }
              path {
              }
            }
          }
        }

        .work-block__swiper-button-prev {
        }
        .work-block__swiper-button-next {
        }
      }
    }
  }
  .work-block__slider {
    padding-left: 71px;
    .work-block__slider-swiper {
      .swiper-wrapper {
        .work-block__slide {
          width: 315px !important;
          height: 315px;
          background: $light-gray;
          position: relative;
          border-radius: 30px;
          overflow: hidden;

          .work-block__slide-photo {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            z-index: 0;

            .work-block__slide-photo-font {
              background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0) 51%,
                #000 100%
              );
              opacity: 0.6;

              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              z-index: 1;
            }
            img {
              width: 100%;
              height: auto;
              position: relative;
              z-index: 0;
            }
          }

          .work-block__slide-link {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            text-decoration: none;
            position: relative;
            padding: 17px;
            svg {
              align-self: flex-end;
              position: relative;
              rect {
                fill: $white;
              }
              path {
                fill: $sea-blue;
              }
              transition: $transition-default;
            }
            .work-block__slide-title {
              position: relative;
              font-family: $font-family-med;
              font-weight: 500;
              font-size: 2rem;
              line-height: 110%;
              letter-spacing: -0.01em;
              color: $white;
              padding: 9px;
              max-width: 230px;
              width: 100%;
              transition: $transition-default;
            }
          }

          &:hover {
            svg {
              transform: rotate(45deg);
              transition: $transition-default;
            }
            .work-block__slide-title {
              color: rgba(255, 255, 255, 0.8);
              transition: $transition-default;
            }
          }
        }
      }
    }
  }
}
