@media (max-width: 1420px) {
  .modal-menu .modal-menu_wrap .modal-menu_info .modal-menu_info-wrapper .modal-menu_info-right {
    gap: 20px;
    margin-left: 50px;
  }
}
@media (min-width: 1251px) {
  .lap-d-none_min-1251 {
    display: none !important;
  }
}
@media (max-width: 1250px) {
  .lap-d-none_1250 {
    display: none !important;
  }
  .modal-menu .modal-menu_wrap .modal-menu_info .modal-menu_info-wrapper .modal-menu_info-right {
    flex-direction: column;
    gap: 10px;
    margin-left: 12%;
  }
  .modal-menu .modal-menu_wrap .modal-menu_info .modal-menu_info-wrapper .modal-menu_info-right .modal-menu_left-block {
    margin-bottom: 30px;
  }
  .modal-menu .modal-menu_wrap .modal-menu_info .modal-menu_info-wrapper .modal-menu_info-right .modal-menu_left-block .modal-menu_info-right-menu h4 {
    margin-bottom: 25px;
  }
  .modal-menu .modal-menu_wrap .modal-menu_info .modal-menu_info-wrapper .modal-menu_info-right .modal-menu_center-block .modal-menu_info-right-menu h4 {
    margin-bottom: 25px;
  }
  .modal-menu .modal-menu_wrap .modal-menu_info .modal-menu_info-wrapper .modal-menu_info-right .modal-menu_right-block {
    gap: 42px;
  }
  .modal-menu .modal-menu_wrap .modal-menu_info .modal-menu_info-wrapper .modal-menu_info-right .modal-menu_right-block .modal-menu_info-right-menu h4 {
    display: none;
  }
  .modal-menu .modal-menu_wrap .modal-menu_info .modal-menu_info-wrapper .modal-menu_info-left {
    border-right: none;
    max-width: 243px;
    padding-right: 0px;
  }
  .modal-menu .modal-menu_wrap .modal-menu_info .modal-menu_info-wrapper .modal-menu_info-left .modal-menu_info-nav-left ul {
    font-size: 1.8rem;
  }
  .modal-menu .modal-menu_wrap .modal-menu_info .modal-menu_info-wrapper .modal-menu_info-left .modal-menu_info-more-info {
    justify-content: flex-start;
    gap: 30px;
  }
  .modal-menu .modal-menu_wrap .modal-menu_info .modal-menu_info-wrapper .modal-menu_info-left .modal-menu_info-more-info .modal-menu__firm-contacts-block .modal-menu__firm-graf-tel a,
  .modal-menu .modal-menu_wrap .modal-menu_info .modal-menu_info-wrapper .modal-menu_info-left .modal-menu_info-more-info .modal-menu__firm-contacts-block .modal-menu__firm-email a {
    font-size: 1.8rem;
  }
  .modal-menu .modal-menu_wrap .modal-menu_info .modal-menu_info-wrapper .modal-menu_info-left .modal-menu_info-more-info .modal-menu__messangers {
    margin-bottom: auto;
  }
  .modal-menu .modal-menu_wrap .modal-menu_info .modal-menu_info-wrapper .modal-menu_info-left .modal-menu_info-more-info .modal-menu_info-right-dop {
    display: flex;
    gap: 15px;
  }
}
@media (max-width: 1024px) {
  .lap-d-none_1024 {
    display: none !important;
  }
  .container_mt_120 {
    margin-top: 90px;
  }
  .container_padding {
    padding: 0px 12px;
  }
  .header-wrap .header-wrap__contacts {
    gap: 40px;
  }
  .header-wrap .header-wrap__contacts .header-wrap__block-phone-time {
    margin-right: auto;
  }
  .header-wrap .header-wrap__info .header-wrap__title-block h1 {
    font-size: 4.8rem;
    max-width: 640px;
  }
  .header-wrap .header-wrap__info .header-wrap__title-block p {
    font-size: 1.8rem;
  }
  .special-offers .component__tltle-link {
    margin-bottom: 35px;
  }
  .special-offers .special-offers__cards-block {
    gap: 6px;
  }
  .special-offers .special-offers__cards-block .special-offers__card {
    width: 180px;
    height: 298px;
    border-radius: 15px;
  }
  .special-offers .special-offers__cards-block .special-offers__card .special-offers__icon {
    margin: 10px;
    height: 36px;
    width: 36px;
  }
  .special-offers .special-offers__cards-block .special-offers__card .special-offers__card-desc {
    margin: 15px;
  }
  .special-offers .special-offers__cards-block .special-offers__card .special-offers__card-desc h6 {
    font-size: 1.8rem;
  }
  .special-offers .special-offers__cards-block .special-offers__card .special-offers__card-desc .special-offers__card-title {
    font-size: 1.8rem;
  }
  .special-offers .special-offers__cards-block .special-offers__card .special-offers__card-desc .leave-request-btn a {
    font-size: 1.2rem;
    padding: 10px 8px 10px 15px;
    width: 151px;
    height: 48px;
  }
  .special-offers .special-offers__cards-block .special-offers__card .special-offers__card-desc .leave-request-btn a svg {
    width: 30px;
    height: 30px;
  }
  .advantages-block {
    margin-top: 35px;
    min-height: 744px;
  }
  .advantages-block .advantages-block__font {
    left: 14px;
    right: 14px;
  }
  .advantages-block .advantages-block__wrap {
    gap: 50px;
    min-height: 711px;
    padding-top: 42px;
    padding-bottom: 40px;
  }
  .advantages-block .advantages-block__wrap .advantages-block__cards .advantages-block__card:nth-child(4) {
    background: none;
  }
  .advantages-block .advantages-block__wrap .advantages-block__cards .advantages-block__card:nth-child(5) {
    background: #0775b5;
  }
  .advantages-block .advantages-block__wrap .advantages-block__cards .advantages-block__card .advantages-block__info-text h4 {
    font-size: 1.6rem;
  }
  .partners-block {
    height: 853px;
  }
  .partners-block .partners-block__wrap {
    flex-direction: column-reverse;
    overflow: hidden;
  }
  .partners-block .partners-block__wrap .partners-block__text-block {
    align-self: flex-start;
    justify-content: flex-end;
    margin-left: 30px;
    margin-bottom: 40px;
  }
  .partners-block .partners-block__wrap .partners-block__text-block .partner-block__desc {
    font-size: 2rem;
    max-width: 450px;
  }
  .partners-block .partners-block__wrap .partners-block__logos {
    flex-direction: row;
    margin-top: 40px;
    margin-right: 0;
  }
  .partners-block .partners-block__wrap .partners-block__logos .partners-block__logos-wrapper {
    flex-direction: row;
  }
  .partners-block .partners-block__wrap .partners-block__logos .partners-block__logos-wrapper .partners-block__logos-block {
    grid-template-columns: repeat(10, 124px);
  }
  .partners-block .partners-block__wrap .partners-block__logos .partners-block__logos-wrapper .partners-block__logos-block .logo-back-not-mob {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-backdrop-filter: blur(44px);
            backdrop-filter: blur(44px);
    background: rgba(217, 217, 217, 0.5);
    border-radius: 23px;
    opacity: 1;
  }
  .partners-block .partners-block__wrap .partners-block__logos .partners-block__logos-wrapper .partners-block__logos-block .logo-back-not-mob img {
    display: block;
  }
  @keyframes scrollDown {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
@media (max-width: 768px) {
  .tablet-d-none_768 {
    display: none !important;
  }
  .advantages-block {
    margin-top: 35px;
    min-height: 744px;
  }
  .advantages-block .advantages-block__font {
    left: 14px;
    right: 14px;
  }
  .advantages-block .advantages-block__wrap {
    gap: 50px;
    min-height: 711px;
    padding-top: 42px;
    padding-bottom: 40px;
  }
  .advantages-block .advantages-block__wrap .advantages-block__cards {
    gap: 10px;
  }
  .advantages-block .advantages-block__wrap .advantages-block__cards .advantages-block__card {
    width: 232px;
  }
  .advantages-block .advantages-block__wrap .advantages-block__cards .advantages-block__card .advantages-block__info-text h4 {
    font-size: 1.6rem;
  }
}
@media (max-width: 480px) {
  .mob-d-none_480 {
    display: none;
  }
}/*# sourceMappingURL=media.css.map */