@font-face {
  font-family: "TT Hoves Pro Trial Regular";
  font-style: normal;
  font-weight: normal;
  src: local("TT Hoves Pro Trial Regular"), url("../fonts/tt_hoves_pro/TT-Hoves-Pro-Trial-Regular.woff") format("woff");
}
@font-face {
  font-family: "TT Hoves Pro Trial Italic";
  font-style: normal;
  font-weight: normal;
  src: local("TT Hoves Pro Trial Italic"), url("../fonts/tt_hoves_pro/TT-Hoves-Pro-Trial-Italic.woff") format("woff");
}
@font-face {
  font-family: "TT Hoves Pro Trial Medium";
  font-style: normal;
  font-weight: normal;
  src: local("TT Hoves Pro Trial Medium"), url("../fonts/tt_hoves_pro/TT-Hoves-Pro-Trial-Medium.woff") format("woff");
}
@font-face {
  font-family: "TT Hoves Pro Trial Bold";
  font-style: normal;
  font-weight: normal;
  src: local("TT Hoves Pro Trial Bold"), url("../fonts/tt_hoves_pro/TT-Hoves-Pro-Trial-Bold.woff") format("woff");
}
@font-face {
  font-family: "TT Hoves Pro Trial DemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("TT Hoves Pro Trial DemiBold"), url("../fonts/tt_hoves_pro/TT-Hoves-Pro-Trial-DemiBold.woff") format("woff");
}
:root {
  font-size: 10px;
}

.container_padding {
  padding: 0px 20px;
}

.header-wrap {
  font-family: "TT Hoves Pro Trial Regular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 108%;
  color: #1f1f1f;
}
.header-wrap .header-wrap__contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
}
.header-wrap .header-wrap__contacts .header-wrap__block-city,
.header-wrap .header-wrap__contacts .header-wrap__block-phone-time {
  display: flex;
  gap: 40px;
}
.header-wrap .header-wrap__contacts .header-wrap__block-city div,
.header-wrap .header-wrap__contacts .header-wrap__block-phone-time div {
  display: flex;
  gap: 15px;
  align-items: center;
}
.header-wrap .header-wrap__contacts .header-wrap__block-city a,
.header-wrap .header-wrap__contacts .header-wrap__block-phone-time a {
  font-family: "TT Hoves Pro Trial Medium", sans-serif;
  font-weight: 500;
  color: #1f1f1f;
  text-decoration: none;
  transition: all ease 0.3s;
}
.header-wrap .header-wrap__contacts .header-wrap__block-city a:hover,
.header-wrap .header-wrap__contacts .header-wrap__block-phone-time a:hover {
  opacity: 0.8;
  transition: all ease 0.3s;
}
.header-wrap .header-wrap__contacts .header-wrap__block-city span,
.header-wrap .header-wrap__contacts .header-wrap__block-phone-time span {
  font-family: "TT Hoves Pro Trial DemiBold", sans-serif;
}
.header-wrap .header-wrap__contacts .header-wrap__block-search .header-wrap__search-form {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 0.8px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  padding: 0px 12px;
  width: 100%;
  max-width: 190px;
  height: 28px;
}
.header-wrap .header-wrap__contacts .header-wrap__block-search .header-wrap__search-form input[type=text] {
  border: none;
  outline: none;
  font-size: 13px;
  line-height: 92%;
  letter-spacing: 0em;
  color: rgba(0, 0, 0, 0.5);
  flex: 1;
}
.header-wrap .header-wrap__info {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../images/header-image-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-wrap .header-wrap__info .header-wrap__info-font {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 28.85%, rgba(0, 0, 0, 0.3) 100%), rgba(0, 0, 0, 0.05);
  z-index: 1;
}
.header-wrap .header-wrap__info .header-wrap__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 50px 0px 50px;
  position: relative;
  z-index: 2;
  height: 56px;
}
.header-wrap .header-wrap__info .header-wrap__navigation nav {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.header-wrap .header-wrap__info .header-wrap__navigation nav a {
  font-family: "TT Hoves Pro Trial Medium", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0em;
  color: #ffffff;
  text-decoration: none;
  transition: all ease 0.3s;
}
.header-wrap .header-wrap__info .header-wrap__navigation nav a:hover {
  opacity: 0.8;
  transition: all ease 0.3s;
}
.header-wrap .header-wrap__info .header-wrap__navigation .header-wrap__func-block {
  display: flex;
  gap: 6px;
}
.header-wrap .header-wrap__info .header-wrap__navigation .header-wrap__func-block .func-block__btn-menu button {
  width: 56px;
  height: 56px;
  background-image: url("../images/menu-icon.svg");
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  transition: all ease 0.3s;
}
.header-wrap .header-wrap__info .header-wrap__navigation .header-wrap__func-block .func-block__btn-menu button:hover {
  opacity: 0.8;
  transition: all ease 0.3s;
}
.header-wrap .header-wrap__info .header-wrap__navigation .header-wrap__func-block .leave-request-btn a {
  color: #ffffff;
  background: none;
  border: 1px solid white;
  transition: all ease 0.3s;
  padding: 9px 6px 9px 15px;
}
.header-wrap .header-wrap__info .header-wrap__navigation .header-wrap__func-block .leave-request-btn a svg rect {
  fill: #ffffff;
}
.header-wrap .header-wrap__info .header-wrap__navigation .header-wrap__func-block .leave-request-btn a svg path {
  fill: #1c75a8;
}
.header-wrap .header-wrap__info .header-wrap__navigation .header-wrap__func-block .leave-request-btn a:hover {
  border: 1px solid rgba(255, 255, 255, 0.8);
  transition: all ease 0.3s;
  background-color: #ffffff;
  color: #1f1f1f;
}
.header-wrap .header-wrap__info .header-wrap__navigation .header-wrap__func-block .leave-request-btn a:hover svg rect {
  fill: #1c75a8;
}
.header-wrap .header-wrap__info .header-wrap__navigation .header-wrap__func-block .leave-request-btn a:hover svg path {
  fill: #ffffff;
}
.header-wrap .header-wrap__info .header-wrap__title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 25px;
  z-index: 2;
}
.header-wrap .header-wrap__info .header-wrap__title-block h1 {
  font-family: "TT Hoves Pro Trial Medium", sans-serif;
  font-weight: 500;
  font-size: 6.4rem;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-align: center;
  color: #ffffff;
  width: 100%;
  max-width: 855px;
}
.header-wrap .header-wrap__info .header-wrap__title-block h1 span {
  color: #13a9e1;
}
.header-wrap .header-wrap__info .header-wrap__title-block p {
  font-family: "TT Hoves Pro Trial Medium", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  color: #ffffff;
}
.header-wrap .header-wrap__info .header-wrap__achievements-block {
  display: flex;
  justify-content: center;
  margin-bottom: 47px;
  gap: 14px;
  position: relative;
  z-index: 2;
  color: #ffffff;
}
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-clients,
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-skill,
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-partners {
  border-radius: 20px;
  -webkit-backdrop-filter: blur(80px);
          backdrop-filter: blur(80px);
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-clients .achievements-block__title,
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-skill .achievements-block__title,
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-partners .achievements-block__title {
  font-family: "TT Hoves Pro Trial Regular", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  letter-spacing: -0.04em;
  line-height: normal;
  display: flex;
  align-items: center;
}
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-clients .achievements-block__title span,
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-skill .achievements-block__title span,
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-partners .achievements-block__title span {
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: -0.02em;
}
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-clients .achievements-block__desc,
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-skill .achievements-block__desc,
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-partners .achievements-block__desc {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 114%;
}
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-clients {
  width: 116px;
  padding: 24px 19px;
  gap: 14px;
}
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-clients .achievements-block__images img {
  width: 100px;
  height: 46px;
}
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-clients .achievements-block__title {
  margin-bottom: 9px;
}
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-skill {
  width: 172px;
  padding: 15px 20px 24px 20px;
  gap: 40px;
}
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-skill .achievements-block__text p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 114%;
  margin-bottom: 21px;
}
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-skill .achievements-block__text a {
  font-family: "TT Hoves Pro Trial Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #ffffff;
}
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-skill .achievements-block__text a:hover {
  text-decoration: none;
}
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-partners {
  width: 117px;
  padding: 14px 17px 20px 21px;
  gap: 16px;
}
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-partners .achievements-block__title {
  margin-bottom: 6px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .header-wrap .header-wrap__info {
    background-image: url("../images/header-image-1-2x.png");
  }
}
.logo {
  width: 253px;
  height: 40px;
}

.leave-request-btn a {
  display: flex;
  align-items: center;
  color: #1f1f1f;
  text-decoration: none;
  font-family: "TT Hoves Pro Trial Medium", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: 0em;
  border-radius: 50px;
  width: 143px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  transition: all ease 0.3s;
  padding: 5px 6px 5px 15px;
}
.leave-request-btn a span {
  flex: 1;
}
.leave-request-btn a svg rect {
  fill: #1c75a8;
}
.leave-request-btn a svg path {
  fill: #ffffff;
}
.leave-request-btn a:hover {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: #ffffff;
  transition: all ease 0.3s;
}
.leave-request-btn a:hover svg rect {
  fill: #ffffff;
}
.leave-request-btn a:hover svg path {
  fill: #1c75a8;
}/*# sourceMappingURL=style.css.map */