@font-face {
  font-family: "TT Hoves Pro Trial Regular";
  font-style: normal;
  font-weight: normal;
  src: local("TT Hoves Pro Trial Regular"), url("../fonts/tt_hoves_pro/TT-Hoves-Pro-Trial-Regular.woff") format("woff");
}
@font-face {
  font-family: "TT Hoves Pro Trial Italic";
  font-style: normal;
  font-weight: normal;
  src: local("TT Hoves Pro Trial Italic"), url("../fonts/tt_hoves_pro/TT-Hoves-Pro-Trial-Italic.woff") format("woff");
}
@font-face {
  font-family: "TT Hoves Pro Trial Medium";
  font-style: normal;
  font-weight: normal;
  src: local("TT Hoves Pro Trial Medium"), url("../fonts/tt_hoves_pro/TT-Hoves-Pro-Trial-Medium.woff") format("woff");
}
@font-face {
  font-family: "TT Hoves Pro Trial Bold";
  font-style: normal;
  font-weight: normal;
  src: local("TT Hoves Pro Trial Bold"), url("../fonts/tt_hoves_pro/TT-Hoves-Pro-Trial-Bold.woff") format("woff");
}
@font-face {
  font-family: "TT Hoves Pro Trial DemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("TT Hoves Pro Trial DemiBold"), url("../fonts/tt_hoves_pro/TT-Hoves-Pro-Trial-DemiBold.woff") format("woff");
}
:root {
  font-size: 10px;
}

.container_padding {
  padding: 0px 20px;
}

.container_mt_120 {
  margin-top: 120px;
}

.component__tltle-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.component__tltle-link .component__tltle {
  text-decoration: none;
  font-family: "TT Hoves Pro Trial Regular", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  padding: 10px 15px;
  display: flex;
  width: auto;
  height: 26px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.component__tltle-link .component__tltle:hover {
  color: rgba(31, 31, 31, 0.8);
  transition: all 0.3s ease;
}

.leave-request-btn a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "TT Hoves Pro Trial Medium", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: 0em;
  border-radius: 50px;
  width: 143px;
  transition: all 0.3s ease;
  padding: 5px 6px 5px 15px;
}
.leave-request-btn a span {
  flex: 1;
}
.leave-request-btn a:hover {
  transition: all 0.3s ease;
}
.leave-request-btn a:hover svg {
  transform: rotate(45deg);
}

.leave-request-btn_backrgound a {
  color: #1f1f1f;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
.leave-request-btn_backrgound a svg rect {
  fill: #0775b5;
}
.leave-request-btn_backrgound a svg path {
  fill: #ffffff;
}
.leave-request-btn_backrgound a:hover {
  background: #0775b5;
  border: 1px solid rgba(7, 117, 181, 0.8);
  color: #ffffff;
}
.leave-request-btn_backrgound a:hover svg rect {
  fill: #ffffff;
}
.leave-request-btn_backrgound a:hover svg path {
  fill: #0775b5;
}

.leave-request-btn_backrgound-not a {
  color: #ffffff;
  background: none;
  border: 1px solid #ffffff;
}
.leave-request-btn_backrgound-not a svg rect {
  fill: #ffffff;
}
.leave-request-btn_backrgound-not a svg path {
  fill: #0775b5;
}
.leave-request-btn_backrgound-not a:hover svg rect {
  fill: #0775b5;
}
.leave-request-btn_backrgound-not a:hover svg path {
  fill: #ffffff;
}

.component__title-block .component__tltle-link {
  margin-bottom: 30px;
}
.component__title-block .component__title-text {
  display: flex;
  justify-content: center;
  font-family: "TT Hoves Pro Trial Medium", sans-serif;
  font-weight: 500;
  font-size: 4rem;
  line-height: 112%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #1f1f1f;
  margin-bottom: 75px;
}
.component__title-block .component__title-text h3 {
  width: 100%;
  max-width: 882px;
}
.component__title-block .component__title-text span {
  color: #13a9e1;
}

.header-wrap {
  font-family: "TT Hoves Pro Trial Regular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 108%;
  color: #1f1f1f;
}
.header-wrap .header-wrap__contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
}
.header-wrap .header-wrap__contacts .header-wrap__block-city,
.header-wrap .header-wrap__contacts .header-wrap__block-phone-time {
  display: flex;
  gap: 40px;
}
.header-wrap .header-wrap__contacts .header-wrap__block-city div,
.header-wrap .header-wrap__contacts .header-wrap__block-phone-time div {
  display: flex;
  gap: 15px;
  align-items: center;
}
.header-wrap .header-wrap__contacts .header-wrap__block-city a,
.header-wrap .header-wrap__contacts .header-wrap__block-phone-time a {
  font-family: "TT Hoves Pro Trial Medium", sans-serif;
  font-weight: 500;
  color: #1f1f1f;
  text-decoration: none;
  transition: all 0.3s ease;
}
.header-wrap .header-wrap__contacts .header-wrap__block-city a:hover,
.header-wrap .header-wrap__contacts .header-wrap__block-phone-time a:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.header-wrap .header-wrap__contacts .header-wrap__block-city span,
.header-wrap .header-wrap__contacts .header-wrap__block-phone-time span {
  font-family: "TT Hoves Pro Trial DemiBold", sans-serif;
}
.header-wrap .header-wrap__contacts .header-wrap__block-search .header-wrap__search-form {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 0.8px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  padding: 0px 12px;
  width: 100%;
  max-width: 190px;
  height: 28px;
}
.header-wrap .header-wrap__contacts .header-wrap__block-search .header-wrap__search-form input[type=text] {
  border: none;
  outline: none;
  font-size: 13px;
  line-height: 92%;
  letter-spacing: 0em;
  color: rgba(0, 0, 0, 0.5);
  flex: 1;
}
.header-wrap .header-wrap__info {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../images/header-image-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-wrap .header-wrap__info .header-wrap__info-font {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 28.85%, rgba(0, 0, 0, 0.3) 100%), rgba(0, 0, 0, 0.05);
  z-index: 1;
}
.header-wrap .header-wrap__info .header-wrap__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 50px 0px 50px;
  position: relative;
  z-index: 2;
  height: 56px;
}
.header-wrap .header-wrap__info .header-wrap__navigation nav {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.header-wrap .header-wrap__info .header-wrap__navigation nav a {
  font-family: "TT Hoves Pro Trial Medium", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0em;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
}
.header-wrap .header-wrap__info .header-wrap__navigation nav a:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.header-wrap .header-wrap__info .header-wrap__navigation .header-wrap__func-block {
  display: flex;
  gap: 6px;
}
.header-wrap .header-wrap__info .header-wrap__navigation .header-wrap__func-block .func-block__btn-menu button {
  width: 56px;
  height: 56px;
  background-image: url("../images/menu-icon.svg");
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header-wrap .header-wrap__info .header-wrap__navigation .header-wrap__func-block .func-block__btn-menu button:hover {
  background-color: #1c75a8;
  transition: all 0.3s ease;
}
.header-wrap .header-wrap__info .header-wrap__title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 25px;
  z-index: 2;
}
.header-wrap .header-wrap__info .header-wrap__title-block h1 {
  font-family: "TT Hoves Pro Trial Medium", sans-serif;
  font-weight: 500;
  font-size: 6.4rem;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-align: center;
  color: #ffffff;
  width: 100%;
  max-width: 855px;
}
.header-wrap .header-wrap__info .header-wrap__title-block h1 span {
  color: #13a9e1;
}
.header-wrap .header-wrap__info .header-wrap__title-block p {
  font-family: "TT Hoves Pro Trial Medium", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  color: #ffffff;
}
.header-wrap .header-wrap__info .header-wrap__achievements-block {
  display: flex;
  justify-content: center;
  margin-bottom: 47px;
  gap: 14px;
  position: relative;
  z-index: 2;
  color: #ffffff;
}
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-clients,
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-skill,
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-partners {
  border-radius: 20px;
  -webkit-backdrop-filter: blur(80px);
          backdrop-filter: blur(80px);
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-clients .achievements-block__title,
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-skill .achievements-block__title,
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-partners .achievements-block__title {
  font-family: "TT Hoves Pro Trial Regular", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  letter-spacing: -0.04em;
  line-height: normal;
  display: flex;
  align-items: center;
}
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-clients .achievements-block__title span,
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-skill .achievements-block__title span,
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-partners .achievements-block__title span {
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: -0.02em;
}
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-clients .achievements-block__desc,
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-skill .achievements-block__desc,
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-partners .achievements-block__desc {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 114%;
}
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-clients {
  width: 116px;
  padding: 24px 19px;
  gap: 14px;
}
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-clients .achievements-block__images img {
  width: 100px;
  height: 46px;
}
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-clients .achievements-block__title {
  margin-bottom: 9px;
}
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-skill {
  width: 172px;
  padding: 15px 20px 24px 20px;
  gap: 40px;
}
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-skill .achievements-block__text p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 114%;
  margin-bottom: 21px;
}
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-skill .achievements-block__text a {
  font-family: "TT Hoves Pro Trial Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #ffffff;
}
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-skill .achievements-block__text a:hover {
  text-decoration: none;
}
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-partners {
  width: 117px;
  padding: 14px 17px 20px 21px;
  gap: 16px;
}
.header-wrap .header-wrap__info .header-wrap__achievements-block .header-wrap__achievements-partners .achievements-block__title {
  margin-bottom: 6px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .header-wrap .header-wrap__info {
    background-image: url("../images/header-image-1-2x.png");
  }
}
.logo {
  width: 253px;
  height: 40px;
}

.special-offers .special-offers__cards-block {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  justify-content: center;
}
.special-offers .special-offers__cards-block .special-offers__card {
  width: 266px;
  height: 357px;
  overflow: hidden;
  background-color: #ebf4f9;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.special-offers .special-offers__cards-block .special-offers__card:nth-child(2) {
  flex-direction: column-reverse;
}
.special-offers .special-offers__cards-block .special-offers__card .special-offers__font-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  z-index: 0;
}
.special-offers .special-offers__cards-block .special-offers__card .special-offers__card-desc {
  position: relative;
  color: #ffffff;
  margin: 20px;
}
.special-offers .special-offers__cards-block .special-offers__card .special-offers__card-desc h6 {
  font-family: "TT Hoves Pro Trial Medium", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: -0.01em;
  margin-bottom: 10px;
}
.special-offers .special-offers__cards-block .special-offers__card .special-offers__card-desc p {
  font-family: "TT Hoves Pro Trial Regular", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}
.special-offers .special-offers__cards-block .special-offers__card .special-offers__card-desc .special-offers__card-title {
  font-family: "TT Hoves Pro Trial Medium", sans-serif;
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 104%;
  letter-spacing: -0.01em;
  color: #1f1f1f;
  margin-bottom: 24px;
}
.special-offers .special-offers__cards-block .special-offers__card .special-offers__card-desc .special-offers__card-title span {
  color: #13a9e1;
}
.special-offers .special-offers__cards-block .special-offers__card .special-offers__icon {
  position: relative;
  height: 50px;
  width: 50px;
  display: flex;
  align-self: flex-end;
  margin: 20px;
}

.advantages-block {
  position: relative;
  min-height: 929px;
}
.advantages-block .advantages-block__font {
  position: absolute;
  z-index: 0;
  background-image: url("../images/advantages-font.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 20px;
  right: 20px;
  border-radius: 30px;
  background-position-y: bottom;
  background-position-x: center;
}
.advantages-block .advantages-block__wrap {
  position: relative;
  height: 100%;
  z-index: 1;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.5) 100%), rgba(0, 0, 0, 0.05);
  color: #ffffff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 76px;
  min-height: 711px;
  padding-top: 156px;
  padding-bottom: 62px;
}
.advantages-block .advantages-block__wrap .advantages-block__info-text {
  font-family: "TT Hoves Pro Trial Medium", sans-serif;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  width: 100%;
  max-width: 725px;
}
.advantages-block .advantages-block__wrap .advantages-block__info-text h2 {
  font-size: 5.6rem;
  line-height: 100%;
  letter-spacing: -0.03em;
  margin-bottom: 30px;
}
.advantages-block .advantages-block__wrap .advantages-block__info-text h2 span {
  color: #13a9e1;
}
.advantages-block .advantages-block__wrap .advantages-block__info-text p {
  font-size: 1.8rem;
  line-height: 111%;
  letter-spacing: -0.01em;
}
.advantages-block .advantages-block__wrap .advantages-block__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}
.advantages-block .advantages-block__wrap .advantages-block__cards .advantages-block__card {
  padding: 12px;
  width: 220px;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  box-shadow: inset 0 0 4px 0 rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 23px;
  min-height: 294px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.advantages-block .advantages-block__wrap .advantages-block__cards .advantages-block__card .advantages-block__image {
  width: 100%;
  height: 170px;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.advantages-block .advantages-block__wrap .advantages-block__cards .advantages-block__card .advantages-block__image img {
  width: 100%;
}
.advantages-block .advantages-block__wrap .advantages-block__cards .advantages-block__card .advantages-block__image svg {
  position: absolute;
  top: 15px;
  left: 10px;
}
.advantages-block .advantages-block__wrap .advantages-block__cards .advantages-block__card .advantages-block__info-text {
  text-align: left;
}
.advantages-block .advantages-block__wrap .advantages-block__cards .advantages-block__card .advantages-block__info-text h4 {
  font-family: "TT Hoves Pro Trial Medium", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 117%;
  margin-bottom: 8px;
}
.advantages-block .advantages-block__wrap .advantages-block__cards .advantages-block__card .advantages-block__info-text p {
  font-family: "TT Hoves Pro Trial Regular", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}
.advantages-block .advantages-block__wrap .advantages-block__cards .advantages-block__card:nth-child(1), .advantages-block .advantages-block__wrap .advantages-block__cards .advantages-block__card:nth-child(4) {
  background: #0775b5;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.advantages-block .advantages-block__wrap .advantages-block__pluses {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 60px;
  flex-wrap: wrap;
}
.advantages-block .advantages-block__wrap .advantages-block__pluses .advantages-block__pluse {
  display: flex;
  gap: 10px;
  align-items: center;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50px;
  padding: 8px 12px 8px 8px;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 0em;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .advantages-block .advantages-block__font {
    background-image: url("../images/advantages-font-2x.png");
  }
}
.service-block .service-block__info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.service-block .service-block__info-block .service-block__info-wrap-1 {
  display: flex;
  gap: 20px;
}
.service-block .service-block__info-block .service-block__info-wrap-1 .service-block__card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.service-block .service-block__info-block .service-block__info-wrap-1 .service-block__card-wrapper .service-block__card {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}
.service-block .service-block__info-block .service-block__info-wrap-1 .service-block__card-wrapper .service-block__card img {
  width: 100%;
  border-radius: 30px;
}
.service-block .service-block__info-block .service-block__info-wrap-1 .service-block__card-wrapper .service-block__card .service-block__card-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 28px;
  left: 28px;
  right: 28px;
  bottom: 24px;
}
.service-block .service-block__info-block .service-block__info-wrap-1 .service-block__card-wrapper .service-block__card .service-block__card-text h4 {
  font-family: "TT Hoves Pro Trial Medium", sans-serif;
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #ffffff;
  width: 100%;
  max-width: 594px;
}
.service-block .service-block__info-block .service-block__info-wrap-1 .service-block__card-wrapper .service-block__card .service-block__card-text .service-block__card-corr-title {
  max-width: 459px;
}
.service-block .service-block__info-block .service-block__info-wrap-1 .service-block__card-wrapper .service-block__card .service-block__card-text .card-links-block-corr {
  max-width: 511px;
}
.service-block .service-block__info-block .service-block__info-wrap-1 .service-block__card-wrapper .service-block__card .service-block__card-text .service-block__card-links-block {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.service-block .service-block__info-block .service-block__info-wrap-1 .service-block__card-wrapper .service-block__card .service-block__card-text .service-block__card-links-block a {
  font-family: "TT Hoves Pro Trial Medium", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  color: #0775b5;
  text-decoration: none;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background: #ffffff;
  border-radius: 14px;
  padding: 4px 9px;
  transition: all 0.3s ease;
}
.service-block .service-block__info-block .service-block__info-wrap-1 .service-block__card-wrapper .service-block__card .service-block__card-text .service-block__card-links-block a:hover {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background: #0775b5;
  color: #ffffff;
  transition: all 0.3s ease;
}
.service-block .service-block__info-block .service-block__info-wrap-1 .service-block__card-wrapper .service-block__card-horizontal {
  height: 100%;
  max-height: 376px;
}
.service-block .service-block__info-block .service-block__info-wrap-1 .service-block__card-wrapper .service-block__card-vertical {
  max-height: 773px;
  height: 100%;
}
.service-block .service-block__info-block .service-block__info-wrap-2 {
  display: flex;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}
.service-block .service-block__info-block .service-block__info-wrap-2 .service-block__card {
  position: relative;
  flex: 1;
  min-width: 300px;
  border-radius: 30px;
  overflow: hidden;
}
.service-block .service-block__info-block .service-block__info-wrap-2 .service-block__card img {
  width: 100%;
  border-radius: 30px;
}
.service-block .service-block__info-block .service-block__info-wrap-2 .service-block__card .card-text-corr {
  justify-content: space-between;
}
.service-block .service-block__info-block .service-block__info-wrap-2 .service-block__card .service-block__card-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 16px;
  top: 28px;
  left: 28px;
  right: 28px;
  bottom: 24px;
  color: #ffffff;
}
.service-block .service-block__info-block .service-block__info-wrap-2 .service-block__card .service-block__card-text h4 {
  font-family: "TT Hoves Pro Trial Medium", sans-serif;
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 100%;
  letter-spacing: -0.01em;
  width: 100%;
}
.service-block .service-block__info-block .service-block__info-wrap-2 .service-block__card .service-block__card-text p {
  font-family: "TT Hoves Pro Trial Medium", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 120%;
}
.service-block .service-block__info-block .service-block__info-wrap-2 .service-block__card .service-block__card-text .service-block__card-links-block {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.service-block .service-block__info-block .service-block__info-wrap-2 .service-block__card .service-block__card-text .service-block__card-links-block a {
  font-family: "TT Hoves Pro Trial Medium", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  color: #0775b5;
  text-decoration: none;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background: #ffffff;
  border-radius: 14px;
  padding: 4px 9px;
  transition: all 0.3s ease;
}
.service-block .service-block__info-block .service-block__info-wrap-2 .service-block__card .service-block__card-text .service-block__card-links-block a:hover {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background: #0775b5;
  color: #ffffff;
  transition: all 0.3s ease;
}
.service-block .service-block__info-block .service-block__info-wrap-3 .service-block__card {
  min-width: 450px;
}
.service-block .service-block__info-block .service-block__info-wrap-3 .service-block__card .service-block__card-links-block {
  max-width: 441px;
}
.ship-equipment-block .ship-equipment-block__wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
}
.ship-equipment-block .ship-equipment-block__wrap .ship-equipment-block__card {
  width: 184px;
  height: 183px;
  background: #ddeef8;
  padding: 20px;
  border-radius: 30px;
}
.ship-equipment-block .ship-equipment-block__wrap .ship-equipment-block__card .ship-equipment-block__link {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  width: 100%;
  height: 100%;
}
.ship-equipment-block .ship-equipment-block__wrap .ship-equipment-block__card .ship-equipment-block__link .ship-equipment-block__image {
  width: 100%;
}
.ship-equipment-block .ship-equipment-block__wrap .ship-equipment-block__card .ship-equipment-block__link .ship-equipment-block__image img {
  width: 100%;
}
.ship-equipment-block .ship-equipment-block__wrap .ship-equipment-block__card .ship-equipment-block__link .ship-equipment-block__desc h3 {
  display: inline-block;
  font-family: "TT Hoves Pro Trial Medium", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #1f1f1f;
  text-decoration: none;
  transition: all 0.3s ease;
}
.ship-equipment-block .ship-equipment-block__wrap .ship-equipment-block__card .ship-equipment-block__link:hover h3 {
  color: rgba(31, 31, 31, 0.8);
  transition: all 0.3s ease;
}
.ship-equipment-block .ship-equipment-block__wrap .ship-equipment-block__card-all {
  background: #0775b5;
}
.ship-equipment-block .ship-equipment-block__wrap .ship-equipment-block__card-all .ship-equipment-block__link .ship-equipment-block__desc h3 {
  color: #ffffff !important;
}
.ship-equipment-block .ship-equipment-block__wrap .ship-equipment-block__card-all .ship-equipment-block__link .ship-equipment-block__image-svg {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.ship-equipment-block .ship-equipment-block__wrap .ship-equipment-block__card-all .ship-equipment-block__link .ship-equipment-block__image-svg svg {
  transition: all 0.3s ease;
}
.ship-equipment-block .ship-equipment-block__wrap .ship-equipment-block__card-all .ship-equipment-block__link:hover .ship-equipment-block__desc h3 {
  color: rgba(255, 255, 255, 0.8) !important;
}
.ship-equipment-block .ship-equipment-block__wrap .ship-equipment-block__card-all .ship-equipment-block__link:hover .ship-equipment-block__image-svg svg {
  transform: rotate(45deg);
  transition: all 0.3s ease;
}/*# sourceMappingURL=style.css.map */